@import "./li/li.css";

lu.tasks{
    list-style: none;
}

lu.filters{
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap:15px;
    width: -webkit-fill-available;
    margin-right: 15px;
}