@import "./input/input.css";
@import "./lu/lu.css";
@import "./span/span.css";

div.content_container{
    background-color: white;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    gap:0px;
    width: 550px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 3px 6px 0px #6e6e6e;
}

div.content_container.mobile{
    min-width: 320px;
}

div.content_container.not_empty{
    gap:8px;
    padding: 0px 0px 8px 0px;
}

div.input_container{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    gap:7px;
    border-radius: 0px;
    padding: 10px;
    border-bottom: 0.1px solid #ededed;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, .03);
}

div.input_container.colored{
    box-shadow: 0px -1px 5px 1px #b83f45;
}

div.checkbox_container{
    display: contents;
    position: relative;
}

div.content_container_footer{
    position: relative;
    height: 21px;
    padding: 10px 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

div.content_container_footer.mobile{
    padding: 11px 8px;
    align-items: center;
}

div.content_container_footer::before{
    bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, .2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, .2);
    content: "";
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}